<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.airpark">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Airpark">


        <activity
            android:name=".activities.Prelogin.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activities.Create.EnterDetailsActivity"/>
        <activity
            android:name=".activities.Prelogin.SignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".activities.Prelogin.LoginActivity" />
        <activity
            android:name=".activities.Create.LandingSearchActivity"
            android:label="AirPark"/>
        <activity
            android:name=".activities.Create.CarparkListActivity"
            android:label="Select Car Park"
            android:parentActivityName=".activities.Create.LandingSearchActivity"/>
        <activity
            android:name=".activities.Create.SelectedCarparkActivity"
            android:label="@string/carpark_short_term" />
        <activity
            android:name=".activities.Create.EnterDetailsActivity"
            android:label="Enter Details"
            android:parentActivityName=".activities.Create.SelectedCarparkActivity"/>

        <activity
            android:name=".activities.Payments.StripeActivity"/>

        <activity
            android:name=".activities.Create.QRgeneratorActivity"
            android:label="QR Code"/>

        <activity
            android:name=".activities.Bookings.MyBookingsActivity"
            android:label="My Bookings" />
        <activity
            android:name=".activities.Bookings.SelectedBookingActivity"
            android:label="Short Term"
            android:parentActivityName=".activities.Bookings.MyBookingsActivity"/>

        <activity android:name=".activities.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>